@use 'footer';
@use 'gnome_brand';
@use 'colors';

:root {
    color-scheme: light dark;

    --text-color: var(--quiteblack);

    --background-color: var(--light1);

    --link-color: var(--blue4);
    --link-hover-color: var(--blue5);

    --content-width: 1700px;
    --footer-width: 900px;

    --card-background-color: rgba(0, 0, 0, 0.01);
    --card-hover-background-color: rgba(0, 0, 0, 0.05);
    --card-border-color: var(--light3);
    --card-targer-color: #448aff;

    --dialog-background-color: var(--background-color);
    --dialog-backdrop: rgba(0, 0, 0, .2);

    @media (prefers-color-scheme: dark) {
        --text-color: var(--light3);
        --background-color: #2d283c;

        --link-color: var(--blue1);
        --link-hover-color: var(--blue2);

        --card-background-color: rgba(0, 0, 0, 0.03);
        --card-hover-background-color: rgba(0, 0, 0, 0.1);
        --card-border-color: var(--dark4);
        --card-targer-color: var(--blue5);

        --dialog-backdrop: rgba(0, 0, 0, .4);
    }

    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
}

section.splash {
    padding: 0 0 4em;

    background: #f4f5f7;

    @media (prefers-color-scheme: dark) {
        background: #211d2b;
    }

    header {
        background-color: rgba(255, 255, 255, .2);

        @media (prefers-color-scheme: dark) {
            background-color: rgba(0, 0, 0, .2);
        }

        nav {
            max-width: var(--content-width);
            margin: auto;

            ul {
                display: contents;

                li {
                    display: inline-block;

                    a {
                        display: inline-block;
                        line-height: 4em;
                        padding: 0 1em;
                        color: var(--text-color);

                        &:hover,
                        &:active {
                            color: inherit;
                            background-color: rgba(0, 0, 0, .1);
                        }
                    }
                }
            }
        }
    }

    h1 {
        font-size: 40pt;
        font-weight: 600;
        word-wrap: break-word;
        margin-bottom: .25em;
    }
}

section>div {
    max-width: var(--content-width);
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: var(--text-color);
    font-size: 28pt;
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    max-width: 800px;
}

a,
a:visited {
    color: var(--link-color);
    text-decoration: none;

    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }

    &:hover {
        color: var(--link-hover-color);
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    margin: 2em auto;
    padding: 0 20px;
    list-style-type: none;
    max-width: var(--content-width);
}

.card {
    display: contents;

    &>a,
    &>a:visited {
        display: block;
        margin: 0 0.5em 1em;
        padding: 2em;
        border-radius: 7px;
        color: inherit;
        background-color: var(--card-background-color);
        border: 1px solid var(--card-border-color);

        &:hover {
            background-color: var(--card-hover-background-color);
        }
    }

    .anchor {
        position: absolute;
        transform: translateY(-35vh);
    }

    .avatar {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: contain;
        display: block;
        margin: auto;
        margin-bottom: 25px;

        /* text variant */
        line-height: 100px;
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        color: white;
        background: linear-gradient(color-mix(in srgb, var(--avatar-color), white 15%), color-mix(in srgb, var(--avatar-color), black 25%));
    }

    .name {
        font-size: 1.3em;
        line-height: 1.4;
        margin: 0 0 0.5rem;
        text-align: center;
    }

    .description {
        font-size: 0.9rem;
        opacity: 0.8;
        text-align: center;
    }
}

@keyframes show-dialog {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

dialog[open] {
    max-width: 415px;
    width: 100%;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--dialog-background-color);
    padding: 0;
    animation: show-dialog 0.2s;

    /* center single maintainer */
    &:not(:has(.maintainers :nth-child(2))) {
        .maintainers {
            display: block;
        }
    }

    &:has(.maintainers :nth-child(6)) {
        max-width: 800px;
    }

    .avatar {
        max-width: 128px;
        max-height: 128px;
    }

    .content {
        padding: 0 45px 40px;

        .topics,
        .description {
            font-size: 0.95rem;
        }

        .topics {
            text-align: center;
            margin-top: 0.3em;

            a,
            a:visited {
                font-weight: 500;
            }
        }

        h4 {
            font-size: 1.1em;
            margin: 0.5em 0 0.5em;
            text-align: center;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 0;
                margin: 0;

                a {
                    display: block;
                }
            }
        }

        ul.links {
            display: block;
            text-align: center;
            margin-top: 16px;

            li {
                display: inline-block;
                margin: 6px;

                a {
                    display: block;
                    padding: 12px;
                    background: color-mix(in srgb, currentColor 20%, transparent);
                    border-radius: 50%;

                    img {
                        display: block;
                        height: 32px;

                        @media (prefers-color-scheme: dark) {
                            filter: invert(1);
                        }
                    }
                }

                a:hover,
                a:active {
                    background: color-mix(in srgb, currentColor 60%, transparent);
                }
            }
        }

        ul.maintainers {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            gap: 12px;

            li {
                display: block;

                a {
                    display: block;
                    text-align: center;

                    img {
                        display: block;
                        margin: auto;
                        height: 96px;
                        padding: 6px;
                        border-radius: 50%;
                    }

                    &:hover,
                    &:active {
                        img {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    header {
        text-align: right;
        padding: 15px 15px 0;

        button.close {
            appearance: none;
            all: initial;
            color: inherit;

            &::before {
                display: block;
                content: "×";
                font-size: 30px;
                box-sizing: border-box;
                font-weight: bold;
                border-radius: 100%;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background-color: color-mix(in srgb, currentColor 9%, var(--dialog-background-color));
            }

            &:hover::before {
                background-color: color-mix(in srgb, currentColor 15%, var(--dialog-background-color));
            }
        }
    }
}

@keyframes show-backdrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

dialog::backdrop {
    background: var(--dialog-backdrop);
    animation: show-backdrop 0.2s;
}