{% macro component_list(gnome_category) %}
<ul class="cards">
{% for (id, component) in components.components %}
{% if component.gnome_category == gnome_category %}
  <li class="card">
    <a onclick="document.getElementById('{{ id }}-dialog').showModal()" href="#{{ id }}">
      <span class="anchor" id="{{ id }}"></span>
      
      {%- match component.avatar_url -%}
      {%- when Some with (avatar) -%}
      <img class="avatar" alt="" src="{{ avatar }}" alt="" />
      {%- when None -%}
        {%- match component.name -%}
        {%- when Some with (name) -%}
          <div class="avatar" style="--avatar-color: var(--{{ name|initials_color }});">
            {{ name|initials }}
          </div>
        {%- when None -%}
          {% let id = id.to_string() %}
          <div class="avatar" style="--avatar-color: var(--{{ id|initials_color }});">
            {{ id|initials }}
          </div>
        {%- endmatch -%}
      {%- endmatch -%}
      

      <h3 class="name">
        {%- match component.name -%}
        {%- when Some with (name) -%}
          {{ name }}
        {%- when None -%}
          {{ id }}
        {%- endmatch -%}
      </h3>

      <div class="description">
        {%- match component.shortdesc -%}
        {%- when Some with (shortdesc) -%}
          {{ shortdesc }}
        {%- when None -%}
        {%- endmatch -%}
      </div>
    </a>

    <dialog id="{{ id }}-dialog">
      <header><form method="dialog"><button class="close"></button></form></header>
      <div class="content">
      {%- match component.avatar_url -%}
          {%- when Some with (avatar) -%}
          <img class="avatar" alt="" src="{{ avatar }}" alt="" />
          {%- when None -%}
      {%- endmatch -%}

      <h3 class="name">
        {%- match component.name -%}
            {%- when Some with (name) -%}
              {{ name }}
            {%- when None -%}
              {{ id }}
        {%- endmatch -%}
      </h3>

      <div class="description">
        {%- match component.shortdesc -%}
            {%- when Some with (shortdesc) -%}
              {{ shortdesc }}
            {%- when None -%}
        {%- endmatch -%}
      </div>

      {% if !component.topics.is_empty() %}
      <p class="topics">
        {% for topic in component.topics %}
          <a href="https://gitlab.gnome.org/explore/projects/topics/{{ topic }}">#{{ topic }}</a>
        {% endfor %}
      </p>
      {% endif %}

      <ul class="links">
        {% let repo_type %}
        {% if component.repo_url.contains("https://github.com") %}
          {% let repo_type = "github" %}
        {% else %}
          {% let repo_type = "gitlab" %}
        {% endif %}
        <li><a href="{{ component.repo_url }}" title="Git Repository"><img src="{{ site.assets_url }}/{{ repo_type }}.svg" alt="" /></a></li>
        {%- match component.homepage -%}
        {%- when Some with (homepage) -%}
          {%- if homepage.deref() != component.repo_url -%}
            <li><a href="{{ homepage }}" title="Homepage"><img src="{{ site.assets_url }}/link.svg" alt="" /></a></li>
          {%- endif -%}
        {%- when None -%}
        {%- endmatch -%}
      </ul>

      {% if component.maintainers.len() == 1 %}
      <h4>Maintainer</h4>
      {% else if component.maintainers.len() > 1 %}
      <h4>Maintainers</h4>
      {% endif %}
      <ul class="maintainers">
        {% for maintainer_id in component.maintainers %}
          <li>
          {%- match people.get(maintainer_id.deref()) -%} 
          {%- when Some with (person) -%}
            <a href="https://teams.pages.gitlab.gnome.org/Websites/people.gnome.org/#{{ maintainer_id }}">
              {%- match person.avatar_url -%}
              {%- when Some with (avatar_url) -%}
                <img src="{{ avatar_url }}" />
              {%- when None -%}
              {%- endmatch -%}
              {{ person.display_name() }}
            </a>
          {%- when None -%}
            {{ maintainer_id }}
          {%- endmatch -%}
          </li>
        {% endfor %}
      </ul>
    </div>
    </dialog>
  </li>
{% endif %}
{% endfor %}
</ul>
{% endmacro %}