{% extends "_base.html" %}
{% import "_macros.html" as macro %}
{% import "_component_list.html" as macro %}

{% block splash %}

<section class="splash">
  <header>
    <nav>
      <ul>
        <li><a href="https://developer.gnome.org">Development Center</a></li>
        <li><a href="#core">Core Components</a></li>
        <li><a href="#circle">Circle Components</a></li>
      </ul>
    </nav>
  </header>
<div>
  <h1>GNOME Components</h1>
  <p>The GNOME project is made up of many components. This page lists all the components, despite <a href="https://apps.gnome.org/">apps</a>, that are maintained as part of GNOME Core or GNOME Circle. This in includes libraries, language bindings, static assets, and many more.</p>
</div>
</section>
{% endblock splash %}

{% block footer %}
  {% call macro::footer_edit_page("index.md") %}
{% endblock footer %}

{% block content %}

<section id="core">
  <div>
    <h2>Core Components</h2>
    <p>The GNOME Core components are developed as part of the GNOME projects. They include the GNOME Shell as well as many libraries, tools, and other projects that are needed for the shell and apps to work.</p>
  </div>
{% call macro::component_list(GnomeCategory::Core) %}
</section>

<section id="circle">
  <div>
    <h2>Circle Components</h2>
    <p>The GNOME Circle components extend the GNOME ecosystem. <a href="https://circle.gnome.org/">GNOME Circle</a> champions the great additional software that is available for the GNOME platform.</p>
  </div>
{% call macro::component_list(GnomeCategory::Circle) %}
</section>

<script>
  function hashFromDialog(dialog) {
    return '#' + dialog.id.replace('-dialog', '');
  }

  // Remove hash when closing dialog
  function removeHash(dialog) {
    if (dialog.returnValue != 'programmatically-closed') {
      history.pushState(null, null, ' ');
    }
  }
  const dialogs = document.querySelectorAll('dialog');
  dialogs.forEach(d => {
    d.addEventListener('close', () => removeHash(d));
    // Close dialogs by clicking outside of dialog
    d.addEventListener('click', event => {
      if (event.target === d) {
          d.close();
      }
    });
  });

  // Open dialog when navigating history
  function showTargetDialog() {
    // Close open dialogs first
    const open_dialogs = document.querySelectorAll('dialog[open]');
    open_dialogs.forEach(d => {
      // Only close if not current window
      if (hashFromDialog(d) != window.location.hash) {
        // Let event handler know that window was closed without user interaction
        d.close('programmatically-closed');
      }
    });

    const target = window.location.hash.replace('#', '');
    const dialog = document.getElementById(target + '-dialog');
    if (dialog) {
      dialog.showModal()
    }
  }
  addEventListener("popstate", showTargetDialog);

  // Open dialog when opening the page
  showTargetDialog();
</script>

{% endblock content %}